extends layout

block content
  form(action='/todos', method='post')
    div
      label(for='add-todo') Add Todo
      input(type='text', name='todo')
    div
      input(type='submit', value='submit')#add-todo

  div
    h1 todos
    ul
      for todo in todos
        li= todo.todo
